<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springweb.a02_mvc.a03_dao.EmpDao">
	<select id="getEmpList" resultType="emp" parameterType="emp">
		SELECT *
		FROM emp
	</select>
</mapper>
<!--
// springweb.a02_mvc.a03_dao.EmpDao (인터페이스)
1. 인터페이스명과 namespace를 동일하게 작성한다 xxxMapper.xml == xxxDao 가 연결됨.
public interface EmpDao {
	public List<Emp> getEmpList(Emp sch); (추상메서드)
	public void insertEmp(Emp ins);
}
2. 기능메서드의 이름과 sql을 가지고 있는 mapper의 id명과 연결
3. return할 데이터 유형 List<Emp> == resultType
4. 매개변수의 데이터 유형은(Emp sch) == parameterType

EmpDao dao = new RealEmpDaoObj();

class RealEmpDaoObj implements EmpDao{

}

# 풀리모피즘
인터페이스의 구성요소를 실제객체를 만들기 위해서 연결 규칙을 선언해주면 실제 객체를 만들어준다.
-->